<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=120.27.137.11;Initial Catalog=Gprs;User ID=sa;Password=111;"/>
    <add key="CorpID" value="wx2930281c17a4cb16"/>
    <add key="Token" value="3VaNB7I9aF"/>
    <add key="AppID" value="1"/>
    <add key="EncodingAESKey" value="Ta4RtqNrrsChgQr1QLntCx4XmZtJBOEep5zM3irjq7Q"/>
    <add key="CorpSecret" value="GljJPzUIaBFCzI6C8guZ2XOa8-jMtrcWRTt1xaqeS1xnFdg5XXCNcgir_zzbBBbd"/>
    <add key="SmsAccount" value="huishengzhi"/>
    <add key="SmsPassword" value="huishengzhi2015$"/>
    <add key="SmsUrl" value="http://121.201.16.148:80/msg/HttpSendSM"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
