@{
    ViewBag.Title = "首页";
}

<div class="amz-container am-cf">
	<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{"animation":"slide","slideshow":false}'>
		<ul class="am-slides">
			<li>
				<img src="~/Content/images/home/slider-imgs/1.jpg" class="am-responsive-width">
				<div class="am-slider-desc">这是标题标题标题标题标题标题标题0</div>

			</li>
			<li>
				<img src="~/Content/images/home/slider-imgs/2.jpg" class="am-responsive-width">
				<div class="am-slider-desc">这是标题标题标题标题标题标题标题1</div>

			</li>
			<li>
				<img src="~/Content/images/home/slider-imgs/3.jpg" class="am-responsive-width">
				<div class="am-slider-desc">这是标题标题标题标题标题标题标题2</div>

			</li>
			<li>
				<img src="~/Content/images/home/slider-imgs/4.jpg" class="am-responsive-width">
				<div class="am-slider-desc">这是标题标题标题标题标题标题标题3</div>

			</li>
		</ul>
	</div>
</div>
<div id="products" class="am-g am-g-fixed">
	@* 此部分为产品展示 *@
</div>
<div id="news" class="am-g am-g-fixed">
	@* 此部分为公司新闻 *@
</div>
<div id="contact" class="am-g am-g-fixed">
	@* 此部分为联系方式 *@
</div>