@{
	ViewBag.Title = "首页";
}

<div class="amz-container am-cf">
	<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{"animation":"slide","slideshow":false}'>
		<ul class="am-slides">
			<li>
				<img src="~/Content/images/home/slider-imgs/1.jpg" class="am-responsive-width">
				<div class="am-slider-desc">这是标题标题标题标题标题标题标题0</div>

			</li>
			<li>
				<img src="~/Content/images/home/slider-imgs/2.jpg" class="am-responsive-width">
				<div class="am-slider-desc">这是标题标题标题标题标题标题标题1</div>

			</li>
			<li>
				<img src="~/Content/images/home/slider-imgs/3.jpg" class="am-responsive-width">
				<div class="am-slider-desc">这是标题标题标题标题标题标题标题2</div>

			</li>
			<li>
				<img src="~/Content/images/home/slider-imgs/4.jpg" class="am-responsive-width">
				<div class="am-slider-desc">这是标题标题标题标题标题标题标题3</div>

			</li>
		</ul>
	</div>
</div>
<div id="products" class="am-g">
	@* 此部分为产品展示 *@
	<div class="am-g-fixed am-center">
		<div id="product1" class="am-u-md-4" data-scrollspy="{animation: 'slide-left', delay: 500}">
			<img class="am-img-responsive img" src="../../Content/images/home/news/1.png" alt="foundation">
			<h2>为移动而生</h2>
			<p>Amaze UI 以移动优先（Mobile first）为理念，从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p><iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
		</div>
		<div id="product2" class="am-u-md-4" data-scrollspy="{animation: 'slide-right', delay: 500}">
			<img class="am-img-responsive img" src="../../Content/images/home/news/2.png" alt="foundation">
			<h2>为移动而生</h2>
			<p>Amaze UI 以移动优先（Mobile first）为理念，从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p><iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
		</div>
		<div id="product3" class="am-u-md-4" data-scrollspy="{animation: 'slide-left', delay: 500}">
			<img class="am-img-responsive img" src="../../Content/images/home/news/3.png" alt="foundation">
			<h2>为移动而生</h2>
			<p>Amaze UI 以移动优先（Mobile first）为理念，从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p><iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
		</div>
	</div>
</div>
<div id="news" class="am-g am-g-fixed">
	@* 此部分为公司新闻 *@
	<div id="news1" class="am-u-md-12">
		<div data-am-widget="intro" class="am-intro am-cf am-intro-one am-no-layout">
			<div class="am-intro-hd">
				<h2 class="am-intro-title">你好小娜</h2><a class="am-intro-more am-intro-more-top" href="#more">更多细节</a>
			</div>
			<div class="am-g am-intro-bd">
				<div class="am-intro-left am-u-sm-5">
					<img class="am-img-thumbnail" src="../../Content/images/home/news/1.png" alt="小娜">
				</div>
				<div class="am-intro-right am-u-sm-7">
					<p>Cortana 恐怕是用户急于更新到 WP8.1 Update 开发者预览版的原因之一</p>
					<p>Cortana 中国版特有的新图标（面团，带眼睛，可在 Cortana 设置中切换回圆圈），使用的是中文语言，也同样支持 Cortana 笔记本。</p>
				</div>
			</div>
		</div>
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
	</div>
	<div id="news2" class="am-u-md-12">
		<div data-am-widget="intro" class="am-intro am-cf am-intro-one am-no-layout">
			<div class="am-intro-hd">
				<h2 class="am-intro-title">你好小娜</h2><a class="am-intro-more am-intro-more-top" href="#more">更多细节</a>
			</div>
			<div class="am-g am-intro-bd">
				<div class="am-intro-left am-u-sm-5">
					<img class="am-img-thumbnail" src="../../Content/images/home/news/2.png" alt="小娜">
				</div>
				<div class="am-intro-right am-u-sm-7">
					<p>Cortana 恐怕是用户急于更新到 WP8.1 Update 开发者预览版的原因之一</p>
					<p>Cortana 中国版特有的新图标（面团，带眼睛，可在 Cortana 设置中切换回圆圈），使用的是中文语言，也同样支持 Cortana 笔记本。</p>
				</div>
			</div>
		</div>
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
	</div>
	<div id="news3" class="am-u-md-12">
		<div data-am-widget="intro" class="am-intro am-cf am-intro-one am-no-layout">
			<div class="am-intro-hd">
				<h2 class="am-intro-title">你好小娜</h2><a class="am-intro-more am-intro-more-top" href="#more">更多细节</a>
			</div>
			<div class="am-g am-intro-bd">
				<div class="am-intro-left am-u-sm-5">
					<img class="am-img-thumbnail" src="../../Content/images/home/news/3.png" alt="小娜">
				</div>
				<div class="am-intro-right am-u-sm-7">
					<p>Cortana 恐怕是用户急于更新到 WP8.1 Update 开发者预览版的原因之一</p>
					<p>Cortana 中国版特有的新图标（面团，带眼睛，可在 Cortana 设置中切换回圆圈），使用的是中文语言，也同样支持 Cortana 笔记本。</p>
				</div>
			</div>
		</div>
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
	</div>
	<div id="news4" class="am-u-md-12">
		<div data-am-widget="intro" class="am-intro am-cf am-intro-one am-no-layout">
			<div class="am-intro-hd">
				<h2 class="am-intro-title">你好小娜</h2><a class="am-intro-more am-intro-more-top" href="#more">更多细节</a>
			</div>
			<div class="am-g am-intro-bd">
				<div class="am-intro-left am-u-sm-5">
					<img class="am-img-thumbnail" src="../../Content/images/home/news/4.png" alt="小娜">
				</div>
				<div class="am-intro-right am-u-sm-7">
					<p>Cortana 恐怕是用户急于更新到 WP8.1 Update 开发者预览版的原因之一</p>
					<p>Cortana 中国版特有的新图标（面团，带眼睛，可在 Cortana 设置中切换回圆圈），使用的是中文语言，也同样支持 Cortana 笔记本。</p>
				</div>
			</div>
		</div>
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
	</div>
</div>
<div id="contact" class="am-g">
	@* 此部分为联系方式 *@
	<div class="am-g-fixed am-center">
		<div id="contact-left" class="am-u-md-6 am-fl">
			<h4>联系方式</h4>
			<ul>
				<li>
					<span class="cal"> </span><label>周一 - 周五 :</label><small>9:00 AM to 6:00 PM</small>
				</li>
				<li>
					<span class="pin"> </span><label>详细地址 :</label><small>四川省成都市高新区天府二街138号4栋1104-1105号</small>
				</li>
				<li>
					<span class="phone"> </span><label>电话 :</label><small>028—85253556</small>
				</li>
				<li>
					<span class="mail"> </span><label>Email :</label><small> info@doctor.com</small>
				</li>
			</ul>
		</div>
		<div id="contact-right" class="am-u-md-6 am-fr">
			<h4>给我们留言</h4>
			<form action="Index.cshtml" method="POST" class="am-form">
				<fieldset>
					<div class="am-form-group">
						<input id="input-name" class="textbox" type="text" placeholder="姓名..."/>
					</div>
					<div class="am-form-group">
						<input id="input-email" class="textbox" type="email" placeholder="Email..." />
					</div>
					<div class="am-form-group">
						<input id="input-phone" class="textbox" type="text" placeholder="手机号码..." />
					</div>
					<div class="am-form-group">
						<textarea class="textbox" rows="4" id="doc-ta-1" placeholder="请在这里输入您的留言..."></textarea>
					</div>
					<input class="am-btn am-btn-success" type="submit" value="提交"/>
				</fieldset>
			</form>
		</div>
	</div>
</div>
@section CustomStyle
{
	<style>
		#products {
			width: 100%;
			background: #999;
			 padding: 3em;
			 top: 20px;
			 opacity: 0.8;
		}

		#products p,h1,h2,h3,h4 {
			color: #000;
		}

		#news {
			padding-top: 60px;
		}

		#contact {
			 width: 100%;
			 background: url(../../Content/images/home/backgrounds/bg-lightblue.png);
			 padding: 3em;
			 padding-top: 20px;
			 opacity: 0.8;
		 }

		#contact h3 {
			text-align: center;
			font-size: 3.5em;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			color: #FFF;
			font-weight: 400;
			padding: 0.2em 0;
			margin-right: 2em;
		}

		#contact h4 {
			color: #fff;
			font-weight: 400;
			font-size: 1.6em;
			text-transform: uppercase;
			border-bottom: 1px ridge #C4DDF8;
			width: 86%;
			padding-bottom: 0.5em;
			margin: 1em 0;
		}

		#contact ul {
			margin: 0;
			padding: 0;
		}

		#contact li {
			padding: 0;
			list-style: none;
			color: #FFF;
			margin: 1em 0;
		}

		#contact ul {
			margin: 0;
			padding: 0;
		}

		#contact li {
			padding: 0;
			list-style: none;
			color: #FFF;
			margin: 1em 0;
		}

		#contact li span {
			width: 32px;
			height: 32px;
			display: inline-block;
			background: url(../../Content/images/home/icons/contact-icons.png) no-repeat 0px 0px;
			vertical-align: text-top;
		}

		#contact li label {
			font-weight: 400;
			margin-right: 0.3em;
		}

		#contact li small { font-weight: 400; }

		#contact li span.pin { background-position: 0px -41px; }

		#contact li span.phone { background-position: 0px -85px; }

		#contact li span.fax { background-position: 0px -130px; }

		#contact li span.mail { background-position: 0px -174px; }

		#contact-right .textbox {width:85%;}
	</style>
}